{% extends "layout.html" %}

{% block title %}
    Delayed payments
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Project id</th>
                <th>Project name</th>
                <th>Date</th>
                <th>Date delayed</th>
            </tr>
        </thead>
        <tbody>
            {% for project in delayed_projects %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.publish_date }}</td>
                    <td>{{ project.date_delayed }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

