{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Transaction id</th>
                <th>Project id</th>
                <th>Project name</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for info in history %}
                <tr>
                    <td>{{ info.id }}</td>
                    <td>{{ info.project_id }}</td>
                    <td>{{ info.name }}</td>
                    <td>{{ info.date }}</td>
                    <td>{{ info.amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

