{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="first_name" placeholder="First name" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="last_name" placeholder="Last name" type="text">
        </div>
        <div class="mb-3">
            <label>Day:</label>
            <select name="day" class="w-auto mx-auto" aria-label="Default select example">
                    {% for day in days %}
                        <option>{{ day }}</option>
                    {% endfor %}
            </select>
            <label>Month:</label>
            <select name="month" class="w-auto mx-auto" aria-label="Default select example">
                {% for month in months %}
                    <option>{{ month }}</option>
                {% endfor %}
            </select>
            <label>Year:</label>
            <select name="year" class="w-auto mx-auto" aria-label="Default select example">
                {% for year in years %}
                    <option>{{ year }}</option>
                {% endfor %}
            </select>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="country" placeholder="Country" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="state" placeholder="State" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="city" placeholder="City" type="text">
        </div>
        <div class="mb-3">
            <label>Choose a type:</label>
            <select name="type" class="form-control w-auto mx-auto form-select" aria-label="Default select example">
                    {% for type in types %}
                        <option>{{ type }}</option>
                    {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
{% endblock %}
