{% extends "layout.html" %}

{% block title %}
    transactions
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Project Id</th>
                <th>Project name</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.project_id }}</td>
                    <td>project name</td>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.payment_type }}</td>
                    <td>
                        <form action="/view_project" method="post">
                            <button type="submit">View project</button>
                            <input name="project_id" type="hidden" value="{{ transaction.project_id }}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

