{% extends "layout.html" %}

{% block title %}
    {{info.name}}
{% endblock %}

{% block main %}
<!--
<H2> {{ info.name }} </H2>
<h3> {{ info.company_type }} </h3>
<h3> {{ info.date }}</h3>
<h3> {{ info.information }}</h3>
-->

<div class="projectDiv colorDiv">
        <table class="table table-dark">
            <tbody>
                <tr>
                    <td width="25%">Project nr:</td>
                    <td width="25%">{{info.id}}</td>
                    <td width="25%">Funding amount:</td>
                    <td width="25%">{{ info.funding_money }}</td>
                </tr>
                <tr>
                    <td>Company type:</td>
                    <td>{{info.company_type}}</td>
                    <td>Invested amount:</td>
                    <td>{{ info.invested_money }}</td>
                </tr>
                <tr>
                    <td>Goal:</td>
                    <td>{{info.goal}}</td>
                    <td>Interest rate:</td>
                    <td>{{info.interest_rate}}%</td>
                </tr>
                <tr>
                    <td>Rating:</td>
                    <td>{{ info.rating }}</td> 
                    <td>Duration:</td>
                    <td>{{ info.duration }} months</td>
                </tr>
            </tbody>
        </table>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ info.invested_money / info.funding_money }}%" aria-valuenow="{{ info.invested_money }}" aria-valuemin="0" aria-valuemax="100">{{ info.invested_money }} %</div>
        </div>
        <div>
            <h2 class="center"> {{ info.invested_money }} / {{ info.funding_money }} </h2>
        </div>
        <div>
            <form action="/buy" method="post">
                <select name="amount" value="{{ info.id }}" class="w-auto mx-auto" aria-label="Default select example">
                    {% for value in amount %}
                        <option name="value" value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Buy</button>
                <input name="project_id" type="hidden" value="{{ info.id }}">
            </form>
        </div>
    </div>    
    <div class="projectImageDiv colorDiv">
        <!--img src="/static/project_pictures/nibhv.png" height="250px"-->
        <img src="data:image/png;base64,{{ image }}" alt="image" width="100%" height="225">
    </div>
    <div class="colorDiv center">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Payment number</th>
                    <th>Date</th>
                    <th>Interest</th>
                    <th>Pay-off</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in payment_plan %}
                <tr>
                    <td>{{ payment.payment_number }}</td>
                    <td>{{ payment.date }}</td>
                    <td>{{ payment.interest }}</td>
                    <td>{{ payment.payoff }}</td>
                    <td>{{ payment.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="colorDiv center">
        <h2> {{ info.detail_information }}</h2>
    </div>
{% endblock %}

